.layout {
	width: 100%;
	position: relative;
}

.layout_background {
	background-color: #FFFAF1;
	border-radius: 1.6rem;
}
.layout_content {
	padding: 4rem 4rem 6rem;
	width: 100%;
	height: 100%;
	position: relative;
	transition: all 300ms ease;
	color: black;
}